In [ ]:
import os
import pandas as pd

In [14]:
folder_path = 'C:/Users/DineshMohan/Desktop/dataSets'
dfs = []

In [15]:
# Loop through each file in the directory
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(folder_path, filename)
        
        # Read the CSV file into a DataFrame and append to the list
        df = pd.read_csv(file_path,encoding='latin1')
        dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

In [16]:
df = combined_df

In [17]:
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`07,`000,STATE - NCT OF DELHI,`00,`000,`0000,Total,828980,708129,120851,...,117709,61009,44743,16266,1969,1494,475,59040,43249,15791
1,`07,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
2,`07,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
3,`07,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
4,`07,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,`19,`345,District - Purba Medinipur,`99,`990,`9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
195141,`19,`345,District - Purba Medinipur,`99,`991,`0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195142,`19,`345,District - Purba Medinipur,`99,`991,`9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195143,`19,`345,District - Purba Medinipur,`99,`992,`0000,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
195144,`19,`345,District - Purba Medinipur,`99,`992,`9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [18]:
# for i in df:
#     i = i[]
#     print(i)

In [19]:
# df['State Code'] = df['State Code'].str.replace('`','')

In [20]:
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`07,`000,STATE - NCT OF DELHI,`00,`000,`0000,Total,828980,708129,120851,...,117709,61009,44743,16266,1969,1494,475,59040,43249,15791
1,`07,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
2,`07,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
3,`07,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
4,`07,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,`19,`345,District - Purba Medinipur,`99,`990,`9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
195141,`19,`345,District - Purba Medinipur,`99,`991,`0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195142,`19,`345,District - Purba Medinipur,`99,`991,`9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195143,`19,`345,District - Purba Medinipur,`99,`992,`0000,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
195144,`19,`345,District - Purba Medinipur,`99,`992,`9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [44]:
Don = lambda x: x.replace('`','').replace('/',' ')

In [22]:
rep = lambda x: x.replace('`','')

In [23]:
df['State Code'] = df['State Code'].apply(rep)

In [24]:
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,07,`000,STATE - NCT OF DELHI,`00,`000,`0000,Total,828980,708129,120851,...,117709,61009,44743,16266,1969,1494,475,59040,43249,15791
1,07,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
2,07,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
3,07,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
4,07,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,19,`345,District - Purba Medinipur,`99,`990,`9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
195141,19,`345,District - Purba Medinipur,`99,`991,`0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195142,19,`345,District - Purba Medinipur,`99,`991,`9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195143,19,`345,District - Purba Medinipur,`99,`992,`0000,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
195144,19,`345,District - Purba Medinipur,`99,`992,`9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [25]:
df['NIC Name']

0                                                     Total
1         Crop and animal production, hunting and relate...
2                            Growing of non-perennial crops
3         Growing of cereals (except rice), leguminous c...
4                                           Growing of rice
                                ...
195140    Activities of extraterritorial organizations a...
195141                                                Blank
195142                                                Blank
195143            Incomplete description/ Wrongly Classifed
195144            Incomplete description/ Wrongly Classifed
Name: NIC Name, Length: 195145, dtype: object

In [46]:
data = {'A': [1, 2, 3, 4, 5],
        'B': ['`01', '02', '`03', '04', '`05'],
        'C':['a/b','c/d','e/f','g/h','i/j']
        }

# data = pd.DataFrame(data)

# Don = lambda x: x.replace('`','').replace('/',' ')
# data['B'] = data['B'].apply(Don)

# print(data)

In [40]:
# data = pd.DataFrame(data)

In [45]:
data['B'] = data['B'].apply(Don)

In [43]:
data

   A   B    C
0  1  01  a/b
1  2  02  c/d
2  3  03  e/f
3  4  04  g/h
4  5  05  i/j

In [30]:
add = lambda x:x+2

In [31]:
a = 2

In [32]:
add(a)

4

In [33]:
data['B']

0     c1
1     c2
2     c3
3     c4
4     c5
Name: B, dtype: object

In [34]:
a

2

In [35]:
import pandas as pd

# Create a dataframe
df = pd.DataFrame({'text': ['This is a sentence.', 'This is another sentence.']})

# Define a function to tokenize the text
def tokenize(text):
    return text.split()

# Apply the tokenize() function to each row of the dataframe
df['tokens'] = df['text'].apply(tokenize)

# Print the dataframe
print(df)

                        text                          tokens
0        This is a sentence.        [This, is, a, sentence.]
1  This is another sentence.  [This, is, another, sentence.]

In [36]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dineshmohan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (24.0)
Note: you may need to restart the kernel to use updated packages.

In [37]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

# Sample data
data = {'A': [1, 2, 3, 4, 5],
        'B': ['01', '02', '03', '04', '05']}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Function to tokenize text using NLTK
def tokenize_text(text):
    return word_tokenize(text)

# Apply tokenization to column 'B'
df['B_tokenized'] = df['B'].apply(tokenize_text)

print(df)

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\DineshMohan/nltk_data'
    - 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\\nltk_data'
    - 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\\share\\nltk_data'
    - 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2288.0_x64__qbz5n2kfra8p0\\lib\\nltk_data'
    - 'C:\\Users\\DineshMohan\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************

In [ ]:
import pandas as pd
import re

data = {'A': [1, 2, 3, 4, 5],
        'B': ['#0', '&99', '66', '33', '77']}

df = pd.DataFrame(data)

# Extract numerical values from strings using regular expressions
df['B_numerical'] = df['B'].apply(lambda x: int(re.search(r'\d+', x).group()))

print(df)

   A    B  B_numerical
0  1   #0            0
1  2  &99           99
2  3   66           66
3  4   33           33
4  5   77           77

In [ ]:
import re

def extract_numbers(text):
    numbers = re.findall(r'\d+', text)
    return numbers

def main():
    text = "I have 10 apples and 20 oranges."
    numbers = extract_numbers(text)
    print("Numbers found in the text:", numbers)

if __name__ == "__main__":
    main()

Numbers found in the text: ['10', '20']

In [50]:
a= map(int,input().split())

<map object at 0x000001E4A97AEA10>

In [51]:
a

In [58]:
# Define a list of strings
words = ['hello', 'world', 'python', 'programming']

word = 'partha'

# # Use the map function to apply the str.upper function to each string in the list
# uppercase_words = list(map(str.upper, words))

# # Print the original and uppercase lists
# print("Original words:", words)
# print("Uppercase words:", uppercase_words)

# lowercase_words = list(map(str.lower, words))

# print("Original words:", words)
# print("lowercase words:", lowercase_words)

In [57]:
upper = str.upper(words)

TypeError: descriptor 'upper' for 'str' objects doesn't apply to a 'list' object

In [55]:
upper = words.str.upper

AttributeError: 'list' object has no attribute 'str'

In [60]:
upper = str.upper(word)
upper

'PARTHA'