In [18]:
import pandas as pd
import os

In [19]:
folder_path='C:/Users/DineshMohan/Desktop/dataSets'
dfs=[]

In [20]:
for filename in os.listdir(folder_path):
    # print(filename)
    if filename.endswith('.csv'):
        
        file_path = os.path.join(folder_path, filename)
        
        df = pd.read_csv(file_path,encoding='latin1')
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [21]:
df=combined_df
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`07,`000,STATE - NCT OF DELHI,`00,`000,`0000,Total,828980,708129,120851,...,117709,61009,44743,16266,1969,1494,475,59040,43249,15791
1,`07,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
2,`07,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
3,`07,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
4,`07,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,`19,`345,District - Purba Medinipur,`99,`990,`9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
195141,`19,`345,District - Purba Medinipur,`99,`991,`0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195142,`19,`345,District - Purba Medinipur,`99,`991,`9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195143,`19,`345,District - Purba Medinipur,`99,`992,`0000,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
195144,`19,`345,District - Purba Medinipur,`99,`992,`9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195145 entries, 0 to 195144
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   State Code                           195145 non-null  object
 1   District Code                        195145 non-null  object
 2   India/States                         195145 non-null  object
 3   Division                             195145 non-null  object
 4   Group                                195145 non-null  object
 5   Class                                195145 non-null  object
 6   NIC Name                             195145 non-null  object
 7   Main Workers - Total -  Persons      195145 non-null  int64
 8   Main Workers - Total - Males         195145 non-null  int64
 9   Main Workers - Total - Females       195145 non-null  int64
 10  Main Workers - Rural -  Persons      195145 non-null  int64
 11  Main Workers - Rural - Males         195145 non-null  int64
 12  Main Workers - Rural - Females       195145 non-null  int64
 13  Main Workers - Urban -  Persons      195145 non-null  int64
 14  Main Workers - Urban - Males         195145 non-null  int64
 15  Main Workers - Urban - Females       195145 non-null  int64
 16  Marginal Workers - Total -  Persons  195145 non-null  int64
 17  Marginal Workers - Total - Males     195145 non-null  int64
 18  Marginal Workers - Total - Females   195145 non-null  int64
 19  Marginal Workers - Rural -  Persons  195145 non-null  int64
 20  Marginal Workers - Rural - Males     195145 non-null  int64
 21  Marginal Workers - Rural - Females   195145 non-null  int64
 22  Marginal Workers - Urban -  Persons  195145 non-null  int64
 23  Marginal Workers - Urban - Males     195145 non-null  int64
 24  Marginal Workers - Urban - Females   195145 non-null  int64
dtypes: int64(18), object(7)
memory usage: 37.2+ MB

In [23]:

df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
195140    False
195141    False
195142    False
195143    False
195144    False
Length: 195145, dtype: bool

In [24]:
df.describe()

,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,Main Workers - Rural - Persons,Main Workers - Rural - Males,Main Workers - Rural - Females,Main Workers - Urban - Persons,Main Workers - Urban - Males,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
count,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,195145.000000,195145.000000
mean,1.492138e+03,1.193171e+03,2.989664e+02,6.606187e+02,5.170353e+02,1.435834e+02,8.315188e+02,6.761358e+02,1.553830e+02,3.642672e+02,1.826322e+02,1.816350e+02,2.502286e+02,1.165241e+02,1.337045e+02,1.140386e+02,66.108094,47.930472
std,4.568169e+04,3.773917e+04,8.582019e+03,2.044436e+04,1.654295e+04,4.314446e+03,2.586781e+04,2.167339e+04,4.531593e+03,1.176940e+04,5.760575e+03,6.309699e+03,8.232274e+03,3.723078e+03,4.748460e+03,3.842889e+03,2132.581727,1803.271234
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,6.000000e+00,6.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.800000e+01,2.300000e+01,3.000000e+00,1.200000e+01,8.000000e+00,0.000000e+00,1.200000e+01,9.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,1.880000e+02,1.450000e+02,2.400000e+01,7.400000e+01,5.600000e+01,8.000000e+00,8.600000e+01,6.700000e+01,1.200000e+01,2.800000e+01,1.800000e+01,6.000000e+00,1.400000e+01,8.000000e+00,3.000000e+00,9.000000e+00,6.000000,2.000000
max,1.561976e+07,1.280140e+07,2.818356e+06,6.770444e+06,5.446541e+06,1.323903e+06,8.849315e+06,7.354862e+06,1.494453e+06,3.834122e+06,1.966750e+06,1.867372e+06,2.515182e+06,1.223824e+06,1.291358e+06,1.318940e+06,742926.000000,576014.000000

In [25]:
df.nunique()

State Code                               23
District Code                           472
India/States                            491
Division                                 89
Group                                   241
Class                                   423
NIC Name                                587
Main Workers - Total -  Persons        8679
Main Workers - Total - Males           7811
Main Workers - Total - Females         3970
Main Workers - Rural -  Persons        5767
Main Workers - Rural - Males           5218
Main Workers - Rural - Females         2694
Main Workers - Urban -  Persons        6561
Main Workers - Urban - Males           5934
Main Workers - Urban - Females         2929
Marginal Workers - Total -  Persons    4208
Marginal Workers - Total - Males       3181
Marginal Workers - Total - Females     2850
Marginal Workers - Rural -  Persons    3406
Marginal Workers - Rural - Males       2535
Marginal Workers - Rural - Females     2379
Marginal Workers - Urban -  Persons    2421
Marginal Workers - Urban - Males       1951
Marginal Workers - Urban - Females     1557
dtype: int64

In [26]:
df.isnull().sum()

State Code                             0
District Code                          0
India/States                           0
Division                               0
Group                                  0
Class                                  0
NIC Name                               0
Main Workers - Total -  Persons        0
Main Workers - Total - Males           0
Main Workers - Total - Females         0
Main Workers - Rural -  Persons        0
Main Workers - Rural - Males           0
Main Workers - Rural - Females         0
Main Workers - Urban -  Persons        0
Main Workers - Urban - Males           0
Main Workers - Urban - Females         0
Marginal Workers - Total -  Persons    0
Marginal Workers - Total - Males       0
Marginal Workers - Total - Females     0
Marginal Workers - Rural -  Persons    0
Marginal Workers - Rural - Males       0
Marginal Workers - Rural - Females     0
Marginal Workers - Urban -  Persons    0
Marginal Workers - Urban - Males       0
Marginal Workers - Urban - Females     0
dtype: int64

In [33]:
rem = lambda x: x.replace('`', '').replace('/', '').replace('-', '') if isinstance(x, str) else x
df = df.applymap(rem)

# df['State Code'] = df['State Code'].str.replace('`','')
# df['District Code'] = df['District Code'].str.replace('`','')
# df['India/States'] = df['India/States'].str.replace('-','')
# df['Division'] = df['Division'].str.replace('`','')
# df['Group'] = df['Group'].str.replace('`','')
# df['Class'] = df['Class'].str.replace('`','')
# df['NIC Name'] = df['NIC Name'].str.replace('/',',')

C:\Users\DineshMohan\AppData\Local\Temp\ipykernel_3324\715242018.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(rem)

In [34]:
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,07,000,STATE NCT OF DELHI,00,000,0000,Total,828980,708129,120851,...,117709,61009,44743,16266,1969,1494,475,59040,43249,15791
1,07,000,STATE NCT OF DELHI,01,000,0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
2,07,000,STATE NCT OF DELHI,01,011,0000,Growing of nonperennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
3,07,000,STATE NCT OF DELHI,01,011,0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
4,07,000,STATE NCT OF DELHI,01,011,0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,19,345,District Purba Medinipur,99,990,9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
195141,19,345,District Purba Medinipur,99,991,0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195142,19,345,District Purba Medinipur,99,991,9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195143,19,345,District Purba Medinipur,99,992,0000,"Incomplete description, Wrongly Classifed",8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
195144,19,345,District Purba Medinipur,99,992,9920,"Incomplete description, Wrongly Classifed",8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [35]:
df.to_csv('IHR.csv')

In [ ]:
df1=pd.read_csv()